---
---

@import "{{ site.theme }}";

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 230;
  height: 250; 

}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

a1 {
    font-size: 1.5em;
  color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

p {
    font-size: 1.25em;
    line-height: 1.4em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}

p1 {
    font-size: 1em;
    line-height: 1.4em;
    color: #909090;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: left;
}

.fullwidth {
width:25%;
margin-left:0;
margin-right:0;
padding-left:0;
padding-right:0;
display:block;
text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}
